* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif; /* this is called listing elements */
  color: #444;
}

h1,
h2,
h3,
h4 {
  color: #1098ad;
}

/* PAGE SECTIONS */
body {
  background-color: rgb(20, 30, 30, 0.2);
  /* padding: 0 50px; */
  position: relative;
}

.container {
  width: 1200px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  /* position: relative; */
}

.main-header {
  background-color: #f7f7f7;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  padding: 20px 40px;
  margin-bottom: 40px;
}

.post-header {
  margin-bottom: 30px;
}

nav {
  text-align: center;
}

article {
  margin-bottom: 50px;
}

/* SMALLER ELEMENTS */
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}
h1 {
  font-size: 25px;

  text-transform: uppercase;
  font-style: italic;
}

/* pseudo elements */
h2::first-letter {
  font-size: 90px;
}

h2::after {
  content: "TOP";
  color: #444;
  background-color: yellow;
  padding: 10px;
  font-size: 20px;
  position: absolute;
  top: -10px;
  right: -25px;
}

h2 {
  font-size: 50px;
  margin-bottom: 40px;
  /* text-align: center; */
  /* background-color: orange; */
  position: relative;
}

h3 {
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

/* addressing child element */
/* This pseudo element will just select the first line of the paragraph below the h3 */

/* h3 + p::first-line {
  color: rebeccapurple;
} */

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
  /* display: inline; */
}

li {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 50px;
  /* display: inline; */
}

li:last-child {
  margin-bottom: 10;
}

/*footer P {
                     //  This is also decendent selection
  font-size: 16px;
} 
*/

#footer {
  font-size: 16px;
  font-family: serif;
}

/*article header p {   //  this method of writing is called decendent selection
  font-style: italic;
}
*/

#author {
  font-style: italic;
  font-size: 18px;
}

.related-author {
  font-size: 25px;
  font-weight: bold;
}

.post-img {
  width: 100%;
  height: auto;
}

/*ul {
  list-style: none;
}*/

.related {
  list-style: none;
}

.related-posts {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad; /* border property is called as a short-hand property because we use 3 differnt properties in a single property*/
  border-bottom: 5px solid #1098ad;
  /* padding-top:40px;
  padding-bottom: 40px; */
  padding: 50px 0;
  width: 500px;
}

/* .first-list { 
  font-weight:bold;
}
*/

li:first-child {
  /* pseudo-class */
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(odd) {
  color: peru;
}

/*
article p:first-child {     // this will not work because the paragraph is not the first child of the article
  color: pink;
}*/

/*  article p:last-child {
  color: pink;
}
*/

/* Styling Links */
a:link {
  /* This pseudo class will only targert the actual link specified with href */
  color: red;
  text-decoration: none;
  /* background-color: orange; */
  /*margin: 20px;
  padding: 20px;
  display: block; */

  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}
.blog {
  color: red;
}

.MDN {
  color: red;
}

a:link:last-child {
  margin-right: 0;
}

/* a:visited {
  color: #444;
  color: #1098ad;
} */

a:hover {
  color: #000;
  font-weight: bold;
  text-decoration: orangered underline dotted; /* short-hand properties where we can define multiple values  */
}

a:active {
  background-color: #444;
  font-style: italic;
}

/* Order of styling links: LVHA */

/* 
Resolving Conflicts 

#footer {
  color: orangered;
}

.footer {
  color: blue;
}

.text {
  color: pink;
}

footer p {
  color: green      //  !important ;
}

*/

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
}
